.student-card {
    background-color: #f9f9f9;
    color: black;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

.student-card h2 {
    font-size: 20px;
    margin: 0 0 10px;
    color: #f33283;
}

.student-card p {
    margin: 5px 0;
    font-size: 14px;
}

.student-card span {
    color: #ff80b4;
}