@font-face {
  font-family: 'Alice';
  src: url('./Alice-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: Alice, sans-serif;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
    padding: 10px;
  }

  .filters-container {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .student-list {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .header {
    font-size: 18px;
    padding: 15px;
  }

  .student-card {
    padding: 15px;
    font-size: 12px;
  }

  .student-card h2 {
    font-size: 16px;
  }
}